@import 'global-variables';

#navigation {
	height: $nav-height - 1px;
	border-bottom: 1px solid black;
	font-size: 120%;
	
	ul {
		list-style-type: none;
		text-align: center;
		margin: auto;
		padding: 0;
		line-height: $nav-height - 1px;
	}
	
	li {
		display: inline;
	}
	
	a {
		color: white;
		text-decoration: none;
		padding: 10px;
		cursor: default;
	}
	
	a:hover {
		background-color: gray;
	}
	
	a:active {
		background-color: #555;
	}
	
	.active {
		pointer-events: none;
		background-color: #333;
	}
}