@import 'global-variables';

html {
	height: 100%;
	min-height: 200px;
	min-width: 500px;
	-webkit-user-select: none;
	cursor: default;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #444;
	margin: 0;
	height: inherit;
	min-height: inherit;
}

.container {
	position: relative;
    margin-right: auto;
    margin-left: auto;
	height: 100%;
	width: 100%;
}

#main-graph {
	background-color: #888;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
	left: $sidebar-width;
	right: $sidebar-width;
	top: $nav-height;
	bottom: 0;
}

.ui-tooltip {
	border: 1px solid #777;
	background-color: #444;
	color: white;
	position: absolute;
	font-size: 80%;
	padding: 4px 8px;
	max-width: 250px;
	z-index: 9999;
}

/*
Context menu TEMP
*/
.b-m-mpanel, #menu, #flash
{
	background-color: #444;
	position: absolute;
	z-index: 99997;
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.b-m-split
{
	font-size: 0px;
	margin: 2px;
	border-bottom: 1px solid #777;
}

.b-m-item, .b-m-ifocus
{
    padding: 8px;
    line-height: 100%;
}

span
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.b-m-ibody
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.b-m-ifocus
{
    background-color: #000;
}
