@import 'global-variables';

body {
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

#navigation {
	border: $basic-border;
}

#sidebar-left {
	float: left;
	margin: 5px;
}

#sidebar-right {
	float: right;
}

#main-graph {
    border: $basic-border;
    position: relative;
    height: 400px;
    vertical-align: middle;
    overflow: hidden;
}